*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* UTILITIES */

.width-100{
    width: 100%;
    border-radius: 50%;
}

/* CONTENT  */ 

.whatsapp-container{
    display: flex;
    max-width: 90%;
    margin: 30px auto;
    height: 90vh;
}


.contacts-section{
    width: 40%;
    border: 2px dashed red;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

#user-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: lightgray;
}

#user-header .user-box{
    display: flex;
    align-items: center;
    width: 35%;
    column-gap: 6px;
    padding-left: 5px;
}

#user-header .user-box .user-img{
    width: 30%;
}

#user-header .user-box #name-user{
 width: 70%;
 font-size: 18px;
}

#user-header #options-btn{
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#notification{
    display: flex;
    background-color: lightblue;
    padding: 5px;
}

#notification .icon-notif{
    width: 30%;
    text-align: center;
    font-size: 21px;
    color: lightblue;
}

#notification .icon-notif i{
    background-color: white;
    padding: 10px;
    border-radius: 49%;
}

#notification .notif-message{
    width: 70%;
}

#notification .notif-message p{
    font-size: 15px;
}

#notification .notif-message span{
    font-size: 12px;
}


.search-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-contact label{
    padding: 0px 17px;
    border: 1px solid lightgray;
    
}

.search-contact label i{
    font-size: 13px;
}

.search-contact input{
    padding: 3px;
    width: 78%;
    font-size: 15px;
    border: 1px solid lightgray;
}

.contact-box{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-top: 3px;
}

.contacts-container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    row-gap: 5px;
}


.contact-box .contact-infos{
    width: 65%;
    display: flex;
    padding: 5px 0px;
}

.contact-box .contact-infos .user-image{
    width: 30%;
}

.contact-box .contact-infos #name-contact{
    width: 60%;
}

.contact-box .contact-infos #name-contact span {
    font-size: 11px;
}
.contact-box #last-message-time{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 13px;
    padding-right: 5px;
    padding-top: 3px;
}

.message-section{
    width: 60%;
    border: 2px dashed green;
    display: flex;
    flex-direction: column;
}