<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script src="js/functions.js" defer></script>
    <script src="js/script.js" defer></script>

    <title>Boolzapp</title>
</head>

<body>

    <!-- creo un container diviso in 2 parti: CONTATTI e MESSAGGI -->
    <div class="whatsapp-container">


        <!------------------- CONTATTI --------------->
        <section class="contacts-section">

            <!-- La parte superiore con foto e nome dell'utente che ha effettuato l'accesso-->
            <div id="user-header">

                <div class="user-box">
                    <!-- l'immagine del nostro user -->
                    <div class="user-img">
                        <img src="img/avatar_io.jpg" alt="Foto profilo" class="width-100 border-radius-50">
                    </div>


                    <!-- il nome dell'user -->
                    <div id="name-user">
                        <p>Simona</p>
                    </div>

                </div>


                <div id="options-btn" class="btn-fas">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>



            <!-- una piccola parte in cui si attivano o disattivano le notifiche -->
            <div id="notification">
                <div class="icon-notif btn-fas">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>

                <div class="notif-message">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <span><a href="#">Attiva notifiche desktop</a></span>
                </div>
            </div>



            <!-- un input di testo in cui cercare i contatti -->
            <div class="search-contact">
                <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                <input type="text" v-model="searchContact" id="search" placeholder="Cerca o inizia una nuova chat">
            </div>


            <div class="contacts-container">
                <!-- la lista dei contatti -->
                <div class="contact-box" v-for="(contact, indexCont) in contacts" @click="selectContact(indexCont)">

                    <div class="contact-infos">
                        <div class="user-image">
                            <img :src="`img/avatar${contact.avatar}.jpg`" alt="" class="width-75 border-radius-50">
                        </div>

                        <div id="name-contact">
                            <p>{{contact.name}}</p>
                            <span>{{getLastMessage(contact)}}</span>
                        </div>
                    </div>


                    <div id="last-message-time">
                        <span>{{getLastTimeMex(contact)}}</span>
                    </div>
                </div>
            </div>




        </section>
        <!-- fine sezione CONTATTI -->


        <!----------------  MESSAGGI ------------------->
        <section class="message-section">




            <!-- header contiene la foto, il nome del contatto e i vari pulsanti di opzione -->
            <header>
                <!-- foto e nome del contatto della chat -->
                <div class="contact-now" v-if="selectedContact >= 0">
                    <div id="contact-photo">
                        <img :src="`img/avatar${contacts[selectedContact].avatar}.jpg`" alt="" class="border-radius-50">
                    </div>

                    <div id="contact-last-access">
                        <p>{{contacts[selectedContact].name}}</p>
                        <span>Online</span>
                    </div>
                </div>


                <!-- pulsanti di opzioni (chiamata o impostazioni) -->
                <div id="options" class="btn-fas">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </header>





            <!-- contenuto dei messaggi ricevuti e inviati -->
            <main>
                <!-- creo un contenitore che contiene i messaggi inviati e quelli ricevuti -->
                <div class="chat-container" v-if="selectedContact >= 0">

                    <!-- container dei messaggi ricevuti -->
                    <div id="rec-or-sent-mex" v-for="(message, index) in contacts[selectedContact].messages">

                        <!-- creo il layout di ogni messaggio -->
                        <div :class="['mex-layout', sentOrRecived(message)]">
                            <div class="mex-content">
                                <p>{{message.message}}</p>
                            </div>

                            <div class="mex-time">
                                <span>{{message.date}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </main>





            <!-- la parte in cui si scrive il messaggio, con 2 pulsanti esterni -->
            <footer>
                <!-- icona delle emoji -->
                <div id="emoji">
                    <i class="fa-solid fa-face-smile"></i>
                </div>

                <!-- input dove scrivere il messaggio -->
                <div class="tipe-mex">
                    <input type="text" v-model="newMessage" @keyUp.enter="addNewMessage()"
                        placeholder="Scrivi un messaggio">
                </div>

                <!-- icona del messaggio vocale -->
                <div id="vocal-mex">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </footer>
        </section>
        <!-- fine sezione MESSAGGI -->


    </div>
</body>

</html>